## Course Rating

This dataframe contains the ratings given for courses by students.

It contains the student ID, the rating given by the student, and the course for which they have given the rating.

### Questions

 - Which courses have the most & least number of ratings?
 - Are there trends in giving ratings based on nationalities?
 - Could this data be corroborated with information from other Dataframes?

In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [20]:
course_rating = pd.read_csv('dataSets/365_database/365_course_ratings.csv')
course_rating.head()

   course_id  student_id  course_rating  date_rated
0         14      258956              5  2022-07-06
1          7      259019              5  2022-08-30
2         23      259019              4  2022-08-30
3         14      259283              5  2022-07-08
4         30      259283              5  2022-07-02

In [12]:
courses = pd.DataFrame(course_rating['course_id'].value_counts()).reset_index().rename(columns={'index':'Course ID','course_id':'No, of ratings'})
courses

    Course ID  No, of ratings
0           7             572
1          23             242
2          21             215
3          42             154
4          14             125
5          16             101
6          35             100
7          13              90
8          46              72
9          24              61
10         22              60
11         20              57
12         11              53
13         39              50
14         28              47
15         37              42
16         30              41
17          2              40
18          3              34
19          5              31
20         26              26
21          4              25
22         25              21
23         54              18
24         50              17
25         29              17
26         15              17
27         45              16
28         55              15
29         12              14
30         32              13
31         53              12
32         34              11
33         33              11
34         43              11
35         52              11
36         27              11
37         36              10
38         44               8
39         49               7
40         19               7
41         51               6
42         41               4
43         48               4
44         57               1

In [5]:
students = pd.DataFrame(course_rating['student_id'].value_counts()).reset_index().rename(columns = {'':'','':''})

280613    20
276439    14
295177    13
277886    13
269204    13
          ..
281413     1
281501     1
281528     1
281556     1
295466     1
Name: student_id, Length: 1287, dtype: int64