## Course Rating

This dataframe contains the ratings given for courses by students.

It has recorded the student ID, the rating given by the student, and the course for which they have given the rating.

### Questions

 - Which courses have the most & least number of ratings?
 - Are there trends in giving ratings based on nationalities?
 - Could this data be corroborated with information from other Dataframes?

In [2]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [3]:
course_ratings = pd.read_csv('dataSets/365_database/365_course_ratings.csv')
course_ratings.head()

   course_id  student_id  course_rating  date_rated
0         14      258956              5  2022-07-06
1          7      259019              5  2022-08-30
2         23      259019              4  2022-08-30
3         14      259283              5  2022-07-08
4         30      259283              5  2022-07-02