## Course Rating

This dataframe contains the ratings given for courses by students.

It contains the student ID, the rating given by the student, and the course for which they have given the rating.

### Questions

 - Which courses have the most & least number of ratings?
 - Are there trends in giving ratings based on nationalities?
 - Could this data be corroborated with information from other Dataframes?

In [2]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import import_ipynb
from Student_info import country_Student

In [3]:
course_rating = pd.read_csv('dataSets/365_database/365_course_ratings.csv')
course_rating.head()

   course_id  student_id  course_rating  date_rated
0         14      258956              5  2022-07-06
1          7      259019              5  2022-08-30
2         23      259019              4  2022-08-30
3         14      259283              5  2022-07-08
4         30      259283              5  2022-07-02

In [16]:
courses = pd.DataFrame(course_rating['course_id'].value_counts()).reset_index().rename(columns={'index':'Course ID','course_id':'No, of ratings'})
courses.sample(10)

    Course ID  No, of ratings
40         19               7
28         55              15
2          21             215
31         53              12
9          24              61
11         20              57
18          3              34
27         45              16
42         41               4
19          5              31

In [15]:
students = pd.DataFrame(course_rating['student_id'].value_counts()).reset_index().rename(columns = {'index':'student ID','student_id':'No, of ratings'})
students.sample(10)

      student ID  No, of ratings
78        266512               5
1179      280330               1
957       262414               1
172       285899               3
545       286807               1
253       283658               2
563       286078               1
1215      279787               1
541       286415               1
43        284482               7