## Course Rating

This dataframe contains the ratings given for courses by students.

It has recorded the student ID, the rating given by the student, and the course for which they have given the rating.

### Questions

 - Which courses have the most & least number of ratings?
 - Are there trends in giving ratings based on nationalities?
 - Could this data be corroborated with information from other Dataframes?

In [2]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [9]:
course_rating = pd.read_csv('dataSets/365_database/365_course_ratings.csv')
course_rating.head(10)

   course_id  student_id  course_rating  date_rated
0         14      258956              5  2022-07-06
1          7      259019              5  2022-08-30
2         23      259019              4  2022-08-30
3         14      259283              5  2022-07-08
4         30      259283              5  2022-07-02
5         37      259283              5  2022-10-12
6         23      259504              5  2022-06-29
7         46      259504              5  2022-06-28
8         30      259524              5  2022-06-16
9         54      259524              5  2022-07-25

In [8]:
(course_rating['course_id'].value_counts())

7     572
23    242
21    215
42    154
14    125
16    101
35    100
13     90
46     72
24     61
22     60
20     57
11     53
39     50
28     47
37     42
30     41
2      40
3      34
5      31
26     26
4      25
25     21
54     18
50     17
29     17
15     17
45     16
55     15
12     14
32     13
53     12
34     11
33     11
43     11
52     11
27     11
36     10
44      8
49      7
19      7
51      6
41      4
48      4
57      1
Name: course_id, dtype: int64

In [10]:
(course_rating['student_id'].value_counts())

280613    20
276439    14
295177    13
277886    13
269204    13
          ..
281413     1
281501     1
281528     1
281556     1
295466     1
Name: student_id, Length: 1287, dtype: int64