In [2]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import import_ipynb
from Student_info import student_info

In [3]:
student_hub_questions = pd.read_csv('dataSets/365_database/365_student_hub_questions.csv')
# student_hub_questions[student_hub_questions['student_id']==293967]
student_hub_questions['student_id'].value_counts()

274861    57
266001    27
261777    27
284438    27
275129    22
          ..
268613     1
270179     1
282408     1
268331     1
288098     1
Name: student_id, Length: 289, dtype: int64

In [4]:
missing_country_df = student_info[student_info.isnull().any(axis=1)]
missing_country = missing_country_df['student_id'].tolist()
(missing_country)

[261725,
 262665,
 272144,
 278827,
 282654,
 282914,
 283704,
 283791,
 284550,
 284790,
 286959,
 290648,
 293967]

In [5]:
df = student_hub_questions.copy()

df_cleaned = df[~df['student_id'].isin(missing_country)]
student_hub_questions_cleaned = df_cleaned.reset_index(drop=True)
(student_hub_questions_cleaned)

     hub_question_id  student_id date_question_asked
0               7619      258803          2022-01-03
1               7630      258803          2022-01-04
2               7662      259342          2022-01-05
3               7667      259391          2022-01-05
4               7668      259174          2022-01-05
..               ...         ...                 ...
822            10386      287473          2022-10-19
823            10387      287473          2022-10-19
824            10388      291121          2022-10-19
825            10404      274798          2022-10-20
826            10407      288098          2022-10-20

[827 rows x 3 columns]

In [9]:
country = []
i = 0
n = len(student_hub_questions_cleaned)-1

while (i<=n):
    x=student_hub_questions_cleaned['student_id'].loc[i]
    y=country_Student[x]
    country.append(y)
    i=i+1

NameError: name 'country_Student' is not defined

In [7]:
print(len(country))
df_country = pd.DataFrame(country,columns = ['country'])
df_country

0

Empty DataFrame
Columns: [country]
Index: []

In [8]:
frames = [student_hub_questions_cleaned, df_country]

student_hub_country = pd.concat(frames,axis = 1)

# len(student_hub_country['country'].unique())
student_hub_country

     hub_question_id  student_id date_question_asked country
0               7619      258803          2022-01-03     NaN
1               7630      258803          2022-01-04     NaN
2               7662      259342          2022-01-05     NaN
3               7667      259391          2022-01-05     NaN
4               7668      259174          2022-01-05     NaN
..               ...         ...                 ...     ...
822            10386      287473          2022-10-19     NaN
823            10387      287473          2022-10-19     NaN
824            10388      291121          2022-10-19     NaN
825            10404      274798          2022-10-20     NaN
826            10407      288098          2022-10-20     NaN

[827 rows x 4 columns]

This Dataframe will have to be split based on engagement level.

Dictionaries of above and below avg student ID can be used to split this dataframe.