In [ ]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
student_exams = pd.read_csv('dataSets/365_database/365_student_exams.csv')
student_exams.head()

,exam_attempt_id,student_id,exam_id,exam_result,exam_completion_time,date_exam_completed
0,173311,258803,475,83,5.17,2022-01-01
1,173332,258815,380,0,10.02,2022-01-01
2,173333,258815,380,67,7.93,2022-01-01
3,173335,258815,380,100,0.60,2022-01-01
4,173336,258815,380,0,10.02,2022-01-01

In [3]:
student_exams['student_id'].value_counts()

276439    137
264146    131
261682    124
267064    121
261802    111
         ...
288024      1
265367      1
282252      1
262634      1
295234      1
Name: student_id, Length: 3909, dtype: int64