## Student Data Exploration

This dataframe contains over 30k entries. 
It includes 
 - Student id
 - Student country
 - Date of registration.

#### Questions

 - Which is the most & least represented country?
     - Could be compared against previous year's data to understand trend and focus resources
     - Understand the relationship between representation here and having sought help in the hub?
 - How is the date of registration spread?
     - Are there different groupings of date of registration for different countries? (Check against Ad campaigns and discounts to understand effectiveness)

In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
student_info = pd.read_csv('dataSets/365_database/365_student_info.csv')

student_info.head()

# student_info.info()
    
# student_info.shape

   student_id student_country date_registered
0      258798              IN      2022-01-01
1      258799              CO      2022-01-01
2      258800              CA      2022-01-01
3      258801              IN      2022-01-01
4      258802              US      2022-01-01

Only the country column has missing values.

In [3]:
student_info_cleaned = student_info.dropna()
student_info_cleaned.shape

(35217, 3)

Cleaned the original dataframe by removing rows with missing values for country.

In [5]:
country_frequency = (student_info_cleaned['student_country'].value_counts())
country_frequency

IN    6933
US    4768
EG    3003
GB    1748
NG    1718
      ...
SR       1
RE       1
BI       1
GY       1
BM       1
Name: student_country, Length: 180, dtype: int64

The value_count() function returns a series of unique values in a  column and the frequency of their occurrence.

By applying it on the country column 
    <mark> student_info_cleaned['student_country'].value_counts() </mark>
we are able to return a series containing a list of countries and how often they appear in the dataframe.

This series is contained in a variable which is then be used to create a dataframe.

In [6]:
student_by_countries = pd.DataFrame(country_frequency).reset_index().rename(columns={'index':'Country','student_country':'No,of students'})

student_by_countries

    Country  No,of students
0        IN            6933
1        US            4768
2        EG            3003
3        GB            1748
4        NG            1718
..      ...             ...
175      SR               1
176      RE               1
177      BI               1
178      GY               1
179      BM               1

[180 rows x 2 columns]

The above cell:
 - Creates a dataframe using the series from the preceding cell.
 - Resets the index: It adds the previous index (country name) to the dataframe as a column. and replaces it with a conventional index.
 - Renames the column for quicker understanding.

The dataframe itself contains in descending order countries most represented to least represented. For us, this shows where most of our students population is from, and where the least is from as well.

Looking at the top five rows I got an idea.

It would be worth looking at the distribution of student representation by country.

I will be adding another column to the dataframe to represent in percentage the student population from each country.

For this, I will write a script to calculate percentage from one country's representation in the sample.

And create a function out of the script with conditional logic, probably a while-loop.

The function will return a list to create a dataframe which will be concatenated with the student_info dataframe.

This will make obvious the break-down of individual country's representation in the population.

In [7]:
def percentCalc():
    n = 0
    global percent
    percent = []

    total_students = student_by_countries['No,of students'].sum()

    total_countries = len(student_by_countries)

    while n < total_countries:
        
        weight = round((((student_by_countries['No,of students'].loc[n])/total_students)*100),3)

        percent.append(weight)
    
        n = n + 1
    return percent

percentCalc()

[19.687,
 13.539,
 8.527,
 4.964,
 4.878,
 3.351,
 2.788,
 2.039,
 1.672,
 1.604,
 1.44,
 1.377,
 1.357,
 1.266,
 1.258,
 1.227,
 1.195,
 1.159,
 1.107,
 1.028,
 0.98,
 0.951,
 0.948,
 0.883,
 0.877,
 0.855,
 0.761,
 0.73,
 0.71,
 0.653,
 0.645,
 0.576,
 0.545,
 0.545,
 0.534,
 0.531,
 0.528,
 0.466,
 0.446,
 0.423,
 0.358,
 0.349,
 0.341,
 0.335,
 0.327,
 0.312,
 0.312,
 0.31,
 0.27,
 0.264,
 0.264,
 0.236,
 0.236,
 0.233,
 0.233,
 0.23,
 0.224,
 0.224,
 0.199,
 0.19,
 0.187,
 0.179,
 0.176,
 0.17,
 0.168,
 0.165,
 0.156,
 0.148,
 0.133,
 0.131,
 0.125,
 0.116,
 0.114,
 0.108,
 0.108,
 0.105,
 0.105,
 0.105,
 0.099,
 0.094,
 0.088,
 0.088,
 0.085,
 0.085,
 0.085,
 0.082,
 0.077,
 0.074,
 0.074,
 0.074,
 0.062,
 0.062,
 0.062,
 0.062,
 0.062,
 0.062,
 0.06,
 0.06,
 0.057,
 0.057,
 0.054,
 0.051,
 0.048,
 0.045,
 0.045,
 0.043,
 0.043,
 0.043,
 0.04,
 0.037,
 0.037,
 0.037,
 0.034,
 0.034,
 0.031,
 0.028,
 0.028,
 0.026,
 0.026,
 0.026,
 0.026,
 0.026,
 0.026,
 0.023,
 0.023,
 0.023,
 0.023,
 0.02,
 0.02,
 0.02,
 0.02,
 0.02,
 0.017,
 0.017,
 0.017,
 0.017,
 0.017,
 0.014,
 0.014,
 0.014,
 0.014,
 0.014,
 0.014,
 0.011,
 0.009,
 0.009,
 0.009,
 0.009,
 0.009,
 0.009,
 0.009,
 0.009,
 0.009,
 0.009,
 0.006,
 0.006,
 0.006,
 0.006,
 0.006,
 0.006,
 0.006,
 0.006,
 0.006,
 0.006,
 0.003,
 0.003,
 0.003,
 0.003,
 0.003,
 0.003,
 0.003,
 0.003,
 0.003,
 0.003,
 0.003,
 0.003,
 0.003,
 0.003,
 0.003,
 0.003]

The cell above describes a function which calculates returns a list containing 180 floating point number, each one of them corresponds to a country in order as presented in the student_by_countries Dataframe.

In [8]:
def dfMaker(data:list):
    df = pd.DataFrame(data, columns = ['Percent'])

    frames = [student_by_countries, df]
    
    global percent_Breakdown
    percent_Breakdown = pd.concat(frames,axis = 1)

    return percent_Breakdown

dfMaker(percentCalc())

    Country  No,of students  Percent
0        IN            6933   19.687
1        US            4768   13.539
2        EG            3003    8.527
3        GB            1748    4.964
4        NG            1718    4.878
..      ...             ...      ...
175      SR               1    0.003
176      RE               1    0.003
177      BI               1    0.003
178      GY               1    0.003
179      BM               1    0.003

[180 rows x 3 columns]

In [9]:
registration_date = pd.DataFrame(student_info_cleaned['date_registered'].value_counts())
registration_date

            date_registered
2022-08-15              716
2022-08-16              477
2022-06-02              431
2022-08-17              271
2022-08-11              229
...                     ...
2022-07-24               69
2022-03-25               68
2022-09-27               64
2022-05-28               60
2022-03-26               58

[293 rows x 1 columns]

In [12]:
studentList = student_info_cleaned['student_id'].tolist()

countryList = student_info_cleaned['student_country'].tolist()

studentList

countryList

['IN',
 'CO',
 'CA',
 'IN',
 'US',
 'US',
 'BD',
 'BD',
 'NG',
 'US',
 'SA',
 'ID',
 'IN',
 'DZ',
 'IN',
 'ET',
 'IN',
 'EG',
 'KE',
 'IN',
 'IN',
 'ES',
 'IN',
 'IN',
 'BD',
 'US',
 'IN',
 'CN',
 'IN',
 'IN',
 'BR',
 'BY',
 'SG',
 'IN',
 'IN',
 'GB',
 'CM',
 'PK',
 'ID',
 'PK',
 'EG',
 'SA',
 'JP',
 'PK',
 'US',
 'EG',
 'ID',
 'US',
 'IN',
 'RU',
 'IN',
 'CA',
 'HT',
 'SA',
 'US',
 'NG',
 'GB',
 'AZ',
 'MA',
 'SA',
 'PL',
 'IN',
 'NL',
 'DE',
 'CA',
 'IN',
 'TN',
 'DZ',
 'VN',
 'GB',
 'CA',
 'CO',
 'EG',
 'PT',
 'SA',
 'FR',
 'EG',
 'CA',
 'LY',
 'RU',
 'EG',
 'US',
 'US',
 'EG',
 'MD',
 'SA',
 'SA',
 'GB',
 'SA',
 'RU',
 'EG',
 'MX',
 'AE',
 'US',
 'EG',
 'BR',
 'AR',
 'IN',
 'SA',
 'IN',
 'SA',
 'NG',
 'US',
 'SA',
 'NG',
 'EG',
 'EG',
 'US',
 'US',
 'EG',
 'SA',
 'IN',
 'US',
 'LK',
 'SA',
 'CA',
 'US',
 'DE',
 'PH',
 'SA',
 'US',
 'EG',
 'ID',
 'SA',
 'IN',
 'SA',
 'US',
 'SA',
 'SA',
 'SA',
 'US',
 'US',
 'US',
 'IN',
 'SD',
 'IN',
 'US',
 'DE',
 'SA',
 'NG',
 'IN',
 'VN',
 'IN',
 'US',
 'IN',
 'IN',
 'IN',
 'IN',
 'EG',
 'PL',
 'ID',
 'IQ',
 'AE',
 'IN',
 'ZA',
 'TJ',
 'IN',
 'CN',
 'IN',
 'EG',
 'SA',
 'TR',
 'IN',
 'GB',
 'NL',
 'AE',
 'US',
 'GM',
 'IL',
 'US',
 'SA',
 'US',
 'IN',
 'IN',
 'IN',
 'SA',
 'MX',
 'TR',
 'TH',
 'AE',
 'DE',
 'MX',
 'RU',
 'ES',
 'PK',
 'IN',
 'DE',
 'MA',
 'US',
 'SA',
 'GB',
 'PK',
 'SA',
 'NG',
 'SA',
 'IN',
 'SA',
 'AE',
 'SA',
 'MA',
 'TZ',
 'TR',
 'CA',
 'IN',
 'US',
 'SA',
 'SA',
 'GB',
 'SA',
 'SA',
 'FR',
 'SA',
 'DE',
 'EG',
 'IN',
 'PK',
 'UA',
 'IN',
 'SA',
 'QA',
 'EG',
 'GB',
 'GB',
 'US',
 'SA',
 'MA',
 'EG',
 'IT',
 'MY',
 'EG',
 'NG',
 'IQ',
 'EG',
 'CA',
 'GH',
 'US',
 'EG',
 'CA',
 'EG',
 'CO',
 'MA',
 'AT',
 'PK',
 'CA',
 'FI',
 'CM',
 'RU',
 'US',
 'GT',
 'FR',
 'US',
 'IN',
 'CA',
 'IN',
 'BR',
 'AU',
 'US',
 'MA',
 'US',
 'US',
 'HK',
 'IN',
 'SE',
 'SG',
 'SA',
 'SN',
 'US',
 'GT',
 'SA',
 'HK',
 'IN',
 'IN',
 'EG',
 'IN',
 'SA',
 'IN',
 'NG',
 'ID',
 'IN',
 'TZ',
 'OM',
 'IN',
 'IN',
 'IN',
 'IN',
 'IN',
 'CN',
 'VN',
 'EG',
 'IN',
 'IN',
 'IN',
 'HU',
 'IN',
 'US',
 'LB',
 'AU',
 'PK',
 'IN',
 'MA',
 'KE',
 'GB',
 'BD',
 'IN',
 'DZ',
 'US',
 'IN',
 'IN',
 'MA',
 'SO',
 'NG',
 'BE',
 'BW',
 'ZA',
 'US',
 'IN',
 'IN',
 'NG',
 'IN',
 'DZ',
 'IN',
 'RW',
 'US',
 'IN',
 'US',
 'IL',
 'AZ',
 'RW',
 'SE',
 'US',
 'EG',
 'CA',
 'GH',
 'US',
 'LT',
 'US',
 'US',
 'PK',
 'KZ',
 'AZ',
 'IN',
 'NG',
 'MA',
 'NL',
 'US',
 'TN',
 'NG',
 'NG',
 'US',
 'EG',
 'NL',
 'EG',
 'EG',
 'ZW',
 'US',
 'CR',
 'SA',
 'EG',
 'JM',
 'IN',
 'RW',
 'IN',
 'US',
 'US',
 'US',
 'IN',
 'IN',
 'CA',
 'JP',
 'CA',
 'TT',
 'IN',
 'IN',
 'IN',
 'US',
 'IN',
 'IN',
 'CO',
 'CA',
 'ID',
 'IN',
 'IN',
 'US',
 'AR',
 'ES',
 'IN',
 'EG',
 'PK',
 'CA',
 'IN',
 'IN',
 'IN',
 'IN',
 'TR',
 'NG',
 'EG',
 'PK',
 'IN',
 'IN',
 'NG',
 'ES',
 'CA',
 'PH',
 'US',
 'AU',
 'VN',
 'ZA',
 'NG',
 'IN',
 'IN',
 'IN',
 'EG',
 'GB',
 'IN',
 'BD',
 'IQ',
 'KE',
 'MU',
 'IN',
 'TN',
 'IN',
 'KZ',
 'US',
 'SK',
 'NZ',
 'EG',
 'IN',
 'US',
 'IN',
 'IL',
 'BD',
 'SG',
 'IN',
 'AR',
 'IN',
 'EG',
 'IN',
 'US',
 'AE',
 'EG',
 'CY',
 'IN',
 'FR',
 'BB',
 'IN',
 'EG',
 'VN',
 'IN',
 'IN',
 'US',
 'EG',
 'GB',
 'NL',
 'US',
 'NG',
 'NO',
 'IN',
 'EG',
 'GB',
 'SE',
 'UZ',
 'IN',
 'NL',
 'AR',
 'US',
 'US',
 'BR',
 'US',
 'IE',
 'SA',
 'NG',
 'IN',
 'IE',
 'AU',
 'ID',
 'US',
 'IN',
 'US',
 'US',
 'IN',
 'GB',
 'AE',
 'AR',
 'CA',
 'US',
 'US',
 'US',
 'UZ',
 'NG',
 'US',
 'CA',
 'AR',
 'EG',
 'HN',
 'EG',
 'GB',
 'SG',
 'AU',
 'KE',
 'JP',
 'CA',
 'US',
 'IN',
 'EG',
 'AM',
 'MY',
 'US',
 'KE',
 'US',
 'KR',
 'US',
 'IN',
 'PK',
 'KE',
 'CA',
 'IN',
 'IN',
 'IL',
 'BD',
 'IN',
 'QA',
 'IN',
 'EG',
 'NL',
 'NZ',
 'EG',
 'EG',
 'IN',
 'EG',
 'IN',
 'IN',
 'US',
 'IL',
 'NG',
 'US',
 'CI',
 'AU',
 'SG',
 'SA',
 'IN',
 'MY',
 'IN',
 'ZA',
 'SA',
 'US',
 'EG',
 'IT',
 'ID',
 'DZ',
 'TR',
 'JP',
 'DE',
 'DZ',
 'IN',
 'MZ',
 'IN',
 'IN',
 'IN',
 'IN',
 'BR',
 'IN',
 'PK',
 'IN',
 'SA',
 'VN',
 'AR',
 'GB',
 'US',
 'PL',
 'SA',
 'FR',
 'IN',
 'US',
 'NG',
 'US',
 'JP',
 'EG',
 'BD',
 'NG',
 'VN',
 'BW',
 'NG',
 'ET',
 'IT',
 'US',
 'IN',
 'IN',
 'US',
 'US',
 'EG',
 'US',
 'EG',
 'DZ',
 'PT',
 'IN',
 'US',
 'US',
 'IN',
 'FR',
 'US',
 'GB',
 'US',
 'ZA',
 'IT',
 'NZ',
 'NG',
 'EG',
 'US',
 'US',
 'US',
 'IN',
 'US',
 'CO',
 'IN',
 'CA',
 'AE',
 'NP',
 'KR',
 'CA',
 'US',
 'CR',
 'ID',
 'NP',
 'AU',
 'IN',
 'GB',
 'HK',
 'PR',
 'ID',
 'US',
 'CA',
 'AU',
 'MY',
 'US',
 'US',
 'JP',
 'IN',
 'IN',
 'BY',
 'IN',
 'NG',
 'AZ',
 'IN',
 'VN',
 'KH',
 'US',
 'IN',
 'IN',
 'AE',
 'NP',
 'EG',
 'KE',
 'IN',
 'TH',
 'IN',
 'EG',
 'BR',
 'TH',
 'IN',
 'IN',
 'GB',
 'IE',
 'SN',
 'NL',
 'TN',
 'SA',
 'SN',
 'IN',
 'IN',
 'NL',
 'BD',
 'IN',
 'IL',
 'CA',
 'GB',
 'PL',
 'IN',
 'BR',
 'IN',
 'NG',
 'AE',
 'RU',
 'CN',
 'SO',
 'DZ',
 'IN',
 'TN',
 'IN',
 'US',
 'VN',
 'DE',
 'IN',
 'CA',
 'IN',
 'CA',
 'IN',
 'US',
 'EG',
 'IN',
 'TN',
 'US',
 'US',
 'DE',
 'CO',
 'GB',
 'IN',
 'DZ',
 'BR',
 'EG',
 'US',
 'US',
 'SD',
 'EG',
 'BR',
 'PK',
 'TR',
 'EG',
 'EG',
 'US',
 'US',
 'US',
 'DE',
 'EG',
 'IT',
 'US',
 'PL',
 'GB',
 'US',
 'MY',
 'ZW',
 'EG',
 'CA',
 'CA',
 'IN',
 'US',
 'AU',
 'IN',
 'UZ',
 'KE',
 'NG',
 'NG',
 'IN',
 'IN',
 'GB',
 'NP',
 'TG',
 'NL',
 'IN',
 'TH',
 'IN',
 'DE',
 'IN',
 'EG',
 'US',
 'PT',
 'UZ',
 'IN',
 'NG',
 'BD',
 'KE',
 'IN',
 'PK',
 'KE',
 'NG',
 'EG',
 'BE',
 'IN',
 'PE',
 'AF',
 'EG',
 'EG',
 'GE',
 'TR',
 'EG',
 'GB',
 'VN',
 'EG',
 'DE',
 'EG',
 'US',
 'EG',
 'IN',
 'EG',
 'IN',
 'EG',
 'IN',
 'IN',
 'ID',
 'SA',
 'IN',
 'EG',
 'JP',
 'BR',
 'SA',
 'IL',
 'IN',
 'EG',
 'US',
 'US',
 'SA',
 'EG',
 'MA',
 'DZ',
 'UA',
 'IN',
 'IN',
 'IN',
 'CA',
 'IN',
 'EG',
 'PK',
 'EG',
 'SA',
 'EG',
 'AZ',
 'DE',
 'TN',
 'IN',
 'SN',
 'US',
 'GB',
 'PT',
 'US',
 'EG',
 'US',
 'IN',
 'US',
 'DZ',
 'PK',
 'DJ',
 'US',
 'US',
 'EG',
 'US',
 'AR',
 'FR',
 'US',
 'AZ',
 'BE',
 'SA',
 'LB',
 'GH',
 'EG',
 'EG',
 'DJ',
 'GH',
 'IN',
 'US',
 'US',
 'VN',
 'SD',
 'IN',
 'EG',
 'IN',
 'IN',
 'IN',
 'IN',
 'IN',
 'JO',
 'US',
 'TH',
 'US',
 'SA',
 'IN',
 'IN',
 'AU',
 'GB',
 'AU',
 'NL',
 'TH',
 'MY',
 'IN',
 'SA',
 'IN',
 'SA',
 'IN',
 'EG',
 'IN',
 'EG',
 'CI',
 'GH',
 'IN',
 'IN',
 'IN',
 'DE',
 'VN',
 'DE',
 'NG',
 'NG',
 'IN',
 'EG',
 'NG',
 'US',
 'EG',
 'EG',
 'IN',
 'EG',
 'IN',
 'IN',
 'VN',
 'IN',
 'EG',
 'KE',
 'EE',
 'CA',
 'GB',
 'TN',
 'GB',
 'US',
 'SL',
 'EG',
 'EG',
 'NG',
 'GH',
 'IN',
 'IN',
 'EG',
 'IN',
 'MX',
 'GB',
 'SA',
 'IN',
 'TN',
 'DZ',
 'DE',
 'US',
 'EG',
 'US',
 'SA',
 'US',
 'CA',
 'PL',
 'GB',
 'EG',
 'EG',
 'NG',
 'CA',
 'EG',
 'BE',
 'BD',
 'GB',
 'FR',
 'ES',
 'DE',
 'DZ',
 'EG',
 'EG',
 'AU',
 'IN',
 'EG',
 'US',
 'US',
 'US',
 'IN',
 'IN',
 'CA',
 'IN',
 'ID',
 'IN',
 'NP',
 'IN',
 'NG',
 'US',
 'SD',
 'SG',
 'IN',
 'CA',
 'KR',
 'IN',
 'IN',
 'EG',
 'OM',
 'GB',
 'EG',
 'US',
 'AU',
 'AZ',
 'BD',
 'EG',
 'IN',
 'NG',
 'TN',
 'EG',
 'GB',
 'AU',
 'GH',
 'JO',
 'GH',
 'US',
 'EG',
 'CA',
 'IN',
 'IN',
 'IN',
 'MU',
 'IN',
 'IN',
 'IN',
 'IT',
 'MA',
 ...]