## Student Learning

This notebook will explore data on student learning. 
More specifically, it will explore data regarding:

- which course was seen and for how long
- which student saw which course
- Date on which the courses were watched

In [1]:

import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import import_ipynb
from Student_info import country_Student

In [8]:
student_learning = pd.read_csv('dataSets/365_database/365_student_learning.csv')
student_learning

       student_id  course_id  minutes_watched date_watched
0          258798         23              0.3   2022-01-01
1          258800          2             12.9   2022-04-01
2          258800          7             46.8   2022-01-03
3          258800          7              4.3   2022-01-04
4          258800          7             31.7   2022-01-07
...           ...        ...              ...          ...
64530      295509         23              0.8   2022-10-20
64531      295510         53              0.1   2022-10-20
64532      295511          7              7.8   2022-10-20
64533      295512          7             10.4   2022-10-20
64534      295513         21              0.1   2022-10-20

[64535 rows x 4 columns]


 - The above dataframe <mark> student_learning </mark> contains several columns of interest. 

 - To further analyze the data in relation to data from this and other notebooks, we will have to split the initial data frame into three different dataframes based on categories.  

 - My initial idea is to create through conditional logic a dict with course IDs as the keys and categorical DFs as the values.  

 - However, I want research if there are any functions in pandas documentation.  
<br>

In [9]:
course_freq = pd.DataFrame(student_learning['course_id'].value_counts())
course_freq.head()

    course_id
7       15353
21       7046
14       6702
23       6032
16       4628

In [24]:
# country_Student

In [40]:
studentList = student_learning['student_id'].unique().tolist()

global countryList
countryList = []

n = len(studentList)
i = 0

while i <= n:
    country = country_Student[(studentList[i])]
    countryList.append(country)
    i = i+1
    
return countryList

KeyError: 272144

In [30]:
i = 0
studentList[i]
ID = studentList[i]
country = country_Student[ID]
country

'IN'