## Student Data Exploration

This dataframe contains over 30k entries. 
It includes 
 - Student id
 - Student country
 - Date of registration.

#### Questions

 - Which is the most & least represented country?
     - Could be compared against previous year's data to understand trend and focus resources
     - Understand the relationship between representation here and having sought help in the hub?
 - How is the date of registration spread?
     - Are there different groupings of date of registration for different countries? (Check against Ad campaigns and discounts to understand effectiveness)

In [2]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [5]:
student_info = pd.read_csv('dataSets/365_database/365_student_info.csv')

student_info.head()

student_info.info()
    
student_info.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35230 entries, 0 to 35229
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   student_id       35230 non-null  int64
 1   student_country  35217 non-null  object
 2   date_registered  35230 non-null  object
dtypes: int64(1), object(2)
memory usage: 825.8+ KB

(35230, 3)

Only the country column has missing values.

In [6]:
student_info_cleaned = student_info.dropna()
student_info_cleaned.shape

(35217, 3)

Cleaned the original dataframe by removing rows with missing values for country.

In [8]:
country_frequency = (student_info_cleaned['student_country'].value_counts())
country_frequency

IN    6933
US    4768
EG    3003
GB    1748
NG    1718
      ...
SR       1
RE       1
BI       1
GY       1
BM       1
Name: student_country, Length: 180, dtype: int64

The value_count() function returns a series of unique values in a  column and the frequency of their occurrence.

By applying it on the country column 
    <mark> student_info_cleaned['student_country'].value_counts() </mark>
we are able to return a series containing a list of countries and how often they appear in the dataframe.

This series is contained in a variable which is then be used to create a dataframe.

In [9]:
student_by_countries = pd.DataFrame(country_frequency).reset_index().rename(columns={'index':'Country','student_country':'No,of students'})

student_by_countries

    Country  No,of students
0        IN            6933
1        US            4768
2        EG            3003
3        GB            1748
4        NG            1718
..      ...             ...
175      SR               1
176      RE               1
177      BI               1
178      GY               1
179      BM               1

[180 rows x 2 columns]

The above cell:
 - Creates a dataframe using the series from the preceding cell.
 - Resets the index: It adds the previous index (country name) to the dataframe as a column. and replaces it with a conventional index.
 - Renames the column for quicker understanding.

The dataframe itself contains in descending order countries most represented to least represented. For us, this shows where most of our students population is from, and where the least is from as well.

Looking at the top five rows I got an idea.

It would be worth looking at the distribution of student representation by country.

I will be adding another column to the dataframe to represent in percentage the student population from each country.

For this, I will write a script to calculate percentage from one country's representation in the sample.

And create a function out of the script with conditional logic, probably a while-loop.

The function will return a list to create a dataframe which will be concatenated with the student_info dataframe.

This will make obvious the break-down of individual country's representation in the population.

In [15]:
n = 0
percent = []

total_students = student_by_countries['No,of students'].sum()

total_countries = len(student_by_countries)

while n < total_countries:
        
    weight = ((student_by_countries['No,of students'].loc[n])/total_students)*100

    percent.append(weight)
    
    n = n+1
    
percent

[19.686515035352244,
 13.538915864497259,
 8.527131782945736,
 4.963511940256126,
 4.878325808558367,
 3.350654513445211,
 2.7884260442399977,
 2.0387880852997133,
 1.6724877189993468,
 1.6043388136411392,
 1.4396456256921373,
 1.3771757957804471,
 1.3572990317176363,
 1.2664338245733593,
 1.2579152114035834,
 1.2266802964477383,
 1.195445381491893,
 1.1585313910895307,
 1.1074197120708749,
 1.0279126558196325,
 0.9796405145242354,
 0.951245137291649,
 0.9484055995683903,
 0.8830962319334412,
 0.8774171564869239,
 0.8547008547008548,
 0.7609961098333191,
 0.7297611948774739,
 0.7098844308146635,
 0.6530936763494903,
 0.6445750631797144,
 0.5764261578215066,
 0.5451912428656615,
 0.5451912428656615,
 0.5338330919726268,
 0.5309935542493682,
 0.5281540165261095,
 0.4656841866144192,
 0.4458074225516086,
 0.42309112076553934,
 0.35778175313059035,
 0.3492631399608144,
 0.34074452679103845,
 0.3350654513445211,
 0.32654683817474517,
 0.3123491495584519,
 0.3123491495584519,
 0.3095096118351932,
 0.26975608370957205,
 0.26407700826305475,
 0.26407700826305475,
 0.23568163103046824,
 0.23568163103046824,
 0.2328420933072096,
 0.2328420933072096,
 0.2300025555839509,
 0.22432348013743364,
 0.22432348013743364,
 0.19876764062810573,
 0.19024902745832978,
 0.18740948973507113,
 0.17889087656529518,
 0.1760513388420365,
 0.17037226339551922,
 0.16753272567226055,
 0.1646931879490019,
 0.15617457477922594,
 0.14765596160944996,
 0.1334582729931567,
 0.13061873526989806,
 0.12493965982338076,
 0.1164210466536048,
 0.11358150893034615,
 0.10790243348382884,
 0.10790243348382884,
 0.10506289576057018,
 0.10506289576057018,
 0.10506289576057018,
 0.09938382031405286,
 0.09370474486753556,
 0.08802566942101825,
 0.08802566942101825,
 0.08518613169775961,
 0.08518613169775961,
 0.08518613169775961,
 0.08234659397450095,
 0.07666751852798365,
 0.07382798080472498,
 0.07382798080472498,
 0.07382798080472498,
 0.06246982991169038,
 0.06246982991169038,
 0.06246982991169038,
 0.06246982991169038,
 0.06246982991169038,
 0.06246982991169038,
 0.05963029218843172,
 0.05963029218843172,
 0.05679075446517307,
 0.05679075446517307,
 0.05395121674191442,
 0.051111679018655765,
 0.04827214129539711,
 0.04543260357213846,
 0.04543260357213846,
 0.042593065848879806,
 0.042593065848879806,
 0.042593065848879806,
 0.03975352812562115,
 0.03691399040236249,
 0.03691399040236249,
 0.03691399040236249,
 0.03407445267910384,
 0.03407445267910384,
 0.03123491495584519,
 0.028395377232586536,
 0.028395377232586536,
 0.025555839509327882,
 0.025555839509327882,
 0.025555839509327882,
 0.025555839509327882,
 0.025555839509327882,
 0.025555839509327882,
 0.02271630178606923,
 0.02271630178606923,
 0.02271630178606923,
 0.02271630178606923,
 0.019876764062810574,
 0.019876764062810574,
 0.019876764062810574,
 0.019876764062810574,
 0.019876764062810574,
 0.01703722633955192,
 0.01703722633955192,
 0.01703722633955192,
 0.01703722633955192,
 0.01703722633955192,
 0.014197688616293268,
 0.014197688616293268,
 0.014197688616293268,
 0.014197688616293268,
 0.014197688616293268,
 0.014197688616293268,
 0.011358150893034614,
 0.00851861316977596,
 0.00851861316977596,
 0.00851861316977596,
 0.00851861316977596,
 0.00851861316977596,
 0.00851861316977596,
 0.00851861316977596,
 0.00851861316977596,
 0.00851861316977596,
 0.00851861316977596,
 0.005679075446517307,
 0.005679075446517307,
 0.005679075446517307,
 0.005679075446517307,
 0.005679075446517307,
 0.005679075446517307,
 0.005679075446517307,
 0.005679075446517307,
 0.005679075446517307,
 0.005679075446517307,
 0.0028395377232586535,
 0.0028395377232586535,
 0.0028395377232586535,
 0.0028395377232586535,
 0.0028395377232586535,
 0.0028395377232586535,
 0.0028395377232586535,
 0.0028395377232586535,
 0.0028395377232586535,
 0.0028395377232586535,
 0.0028395377232586535,
 0.0028395377232586535,
 0.0028395377232586535,
 0.0028395377232586535,
 0.0028395377232586535,
 0.0028395377232586535]