## Student Engagement
Here we will explore the data on student engagement

In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import import_ipynb
from Student_info import country_Student

In [2]:
student_engagement = pd.read_csv('dataSets/365_database/365_student_engagement.csv')
student_engagement.head()

,engagement_id,student_id,engagement_quizzes,engagement_exams,engagement_lessons,date_engaged
0,1,274999,1,1,1,2022-05-27
1,3,274501,0,0,1,2022-05-27
2,4,272842,1,1,1,2022-05-27
3,8,275173,0,0,1,2022-05-27
4,11,274876,0,1,0,2022-05-27

In [3]:
dates = pd.DataFrame(student_engagement['date_engaged'].value_counts())
dates.head()

            date_engaged
2022-08-16           808
2022-08-15           807
2022-08-17           749
2022-08-18           585
2022-10-10           402

### Date of engagement
- The above dataframe contains dates which appear in the student engagement dataframe.

- They are listed in descending order of engagement (i.e) The top most date is when most engagement happened, second date - second most and so on.

In [5]:
students = pd.DataFrame(student_engagement['student_id'].value_counts())
students

        student_id
269204         155
261682         139
264131         134
261905         133
260173         130
...            ...
274637           1
274638           1
274640           1
274644           1
295443           1

[18344 rows x 1 columns]

### Student Engagement
- The above dataframe contains students who appear in the student engagement dataframe.

- They are listed in descending order of engagement (i.e) The top most student has engaged the most, second top - second most and so on.